<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- ACTIONS -->
	<bean id="index" class="action.IndexAction" scope="prototype"
		p:projectDao-ref="projectDao" />
	<bean id="lab" class="action.LabAction" scope="prototype"
		p:projectDao-ref="projectDao" p:savePathResource="classpath:../../project_snapshot" />
	<bean id="interface" class="action.InterfaceAction" scope="prototype" p:interfaceDao-ref="interfaceDao"/>
	<bean id="login" class="action.LoginAction" scope="prototype"
		p:userDao-ref="userDao" />

	<!-- HIBERNATE -->
	<!-- 配置C3P0数据源，可配置信息参阅 ↓ComboPooledDataSource源码 -->
	<context:property-placeholder location="classpath:dbinfo.properties" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- Connection Info -->
		<property name="driverClass" value="${db.driver}" />
		<property name="jdbcUrl" value="${db.url}" />
		<property name="user" value="${db.username}" />
		<property name="password" value="${db.password}" />

		<!-- Connection Pooling Info -->
		<property name="initialPoolSize" value="1" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="40" />
		<property name="maxIdleTime" value="30" />
	</bean>
	<!-- 配置SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 指定数据源Bean -->
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<!-- 罗列所有PO实体类映射配置文件 -->
				<value>entity.hbm.xml</value>
			</list>
		</property>
		<!-- 扫描以下包中的注解实体类 -->
		<property name="packagesToScan">
			<list>
				<value>bean</value>
			</list>
		</property>
		<!-- 配置Hibernate常量 -->
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
				hibernate.show_sql=true
				hibernate.format_sql=true
				hibernate.hbm2ddl.auto=update
			</value>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="baseDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userDao" parent="baseDao" class="dao.UserDaoImpl" />
	<bean id="projectDao" parent="baseDao" class="dao.ProjectDaoImpl" />
	<bean id="interfaceDao" parent="baseDao" class="dao.InterfaceDaoImpl" />
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>