@charset "utf-8";
div#content {
	height: 350px;
}
div#accountPanel {
	margin: 20px auto;
	width: 250px;
	text-align: center;
}
div#accountPanel div#masterHead {
	margin: auto;
	display: block;
	vertical-align: middle;
	border: 3px solid #B2A36A;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;

	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
	top: 20px;
}
div#accountPanel div#masterHead img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;

}
div#accountPanel form {
	padding: 20px;
	border: 2px dashed #B2A36A;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	text-align: center;
	background-color: #222;
}
div#accountPanel form table {
	line-height: 2em;
	margin: 10px auto;
}
div#accountPanel form input {
	width: 100px;
}
div#accountPanel form button {
	margin-top: 5px;
	padding: 5px;
}
div#accountPanel form button#submit {
	padding: 5px 20px;
}
div#accountPanel form button#reset {
	position: absolute;
	margin-left: 20px;
}
