@charset "utf-8";
div#interfaceList ol, div#dictionaryList ol {
	line-height: 2em;
	margin: 0 50px;
	font-size: 1.2em;
}
div#interfaceList li, div#dictionaryList li {
	margin-top: 15px;
}
div#interfaceList {
	margin-bottom: 50px;
}
div#interfaceList li a p, div#dictionaryList li a p {
	line-height: 1.5em;
}
div#interfaceList li p.description {
}
div#interfaceList li p.body {
	margin-top:15px;
}
div#dictionaryList {
	border-top: dotted 1px #B2A36A;
	padding-top: 30px;
}
div.dictionaryTableDiv table {
	margin-top: 15px;
	border: solid 1px #aaa;
	border-collapse: collapse;
	border-right: none;
	border-bottom: none;
}
div.dictionaryTableDiv table tr,div.dictionaryTableDiv table td {
	border: solid 1px #aaa;
	border-collapse: collapse;
	padding:5px;
	line-height:1.5em;
	white-space: pre-wrap;
	border-right: none;
	border-bottom: none;
}
