@charset "utf-8";
div#personalInfo, div#abilityInfo {
	margin: 3% 5%;
	min-width: 540px;
}
div#personalInfo {
	text-align: left;
}
div#masterHead {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5%;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	behavior: url(ie-css3.htc);
	overflow: hidden;
}
div#infoList {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	line-height: 2em;
	font-size: 1.3em;
}
div#infoList table{
}
div#abilityInfo {
	margin:50px 5% 0;
	text-align: center;
}
table#platforms {
	border-spacing: 10px 10px;
}
table#platforms caption h1{
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	width:100px;
	height:100px;
	line-height:100px;
	behavior: url(ie-css3.htc);
	margin: 0 auto;
	background-color:#222;
	text-align:center;
	color:#ddd;
}
td#android, td#javaee, td#swing {
	width: 33%;
	vertical-align: top;
	padding: 1%;
}
td#android hr, td#javaee hr, td#swing hr{
	margin-top:10px;
	border:1px dashed #C1B688;
}
td#android ul, td#javaee ul, td#swing ul{
	list-style-position:inside;
	text-align:left;
}
td#android li, td#javaee li, td#swing li{
	margin-top:10px;
}
table#platforms h2 {
	margin-bottom: 5px;
}
td#android {
	background-color:#68860F;
}
td#javaee {
	background-color: #610385;
}
td#swing {
	background-color: #345B83;
}
div#java {
	margin: 0 10px;
	padding: 5px 10px;
	background-color: #B00000;
	color:#C1B688;
	background-image:url(../image/shade.png);
	background-repeat:repeat-x;
	background-position:center;
}
div#java h1 {
	margin-bottom: 10px;
	text-shadow:0px 0px 30px #C1B688;
}
div#java ul {
	list-style-type: none;
}
div#java li {
	display: inline-block;
	width: 30%;
	font-weight: bolder;
	font-size: 1.2em;
	text-shadow:0px 5px 5px black;
}
div#java p {
	margin: 10px 0;
	font-size: 1.3em;
	font-weight:bold;
	text-shadow:0px 0px 20px #C1B688;
}
